header{
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
  padding: 0 10px;
}

.logo{
  font-weight: 700;
  font-size: 20px;
}



.item{
  
  align-items: center;
  display: flex;
}
.item i{
  cursor: pointer;
  color: #7b1fa2;
  display: block;
}


.profile-photo{
  margin: 0 13px;
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
