

.container{
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:100px auto;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(22, 22, 22, 0.12);
}

.container h1{
    font-weight: bold;
}

.container h2{
    font-weight: normal;
}

.container input, button{
    margin-top: 30px;
}

.container input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button{
    border-radius: 5px;
}

::placeholder{
    text-align: center;
}

p{
    margin-top: 30px;
    font-weight: 500;
}

a{
    color: #7b1fa2;
    font-weight: bolder;
}
.profile-photo{
    margin: 0 auto;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-button{
    margin-top: 165px;
    margin-left: 120px;
    z-index: 9999;
    position: absolute;
    border-radius: 50%;
    border: none;
    background: none;
}

.icon2{
    border-radius: 50%;
    
    
}

.icon{
    width: auto;
    height: auto;
    font-size: 100px;
    
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.alert{
    font-size: 12px;
    color: red;
    margin-top: 10px;
}

.mat-raised-button.mat-button-disabled.mat-button-disabled{
    background-color: #ccc;
}